<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <center>
<h1>ระดับการศึกษา</h1>
<div class="row">
  <div class="column">
     <img src="../images/bosco.jpg" height="250" height="tranparent">
    <h2>ประถมศึกษา</h2>
    <p>โรงเรียนบอสโกพิทักษ์</p>
    <p>ศึกษาตั้งแต่ปี 2009 - 2012 </p>
    <p>ป.1 - ป.6 </p>
  </div>
  
  <div class="column">
     <img src="../images/bosco.jpg" height="250" height="tranparent">
    <h2>มัธยมศึกษาตอนต้น - มัธยมศึกษาตอนปลาย</h2>
      <p>โรงเรียนบอสโกพิทักษ์</p>
       <p>ศึกษาตั้งแต่ปี 2012 - 2018 </p>
    <p>ม.1 - ม.6</p>
  </div>
  
  <div class="column">
     <img src="/images/ratchapat.jpg" height="250" height="200">
    <h2>ระดับอุดมศึกษา</h2>
      <p>มหาวิทยาลัยราชภัฏนครปฐม</p>
       <p>ศึกษาตั้งแต่ปี 2018 - 2020 </p>
    <p>ปั1 - ปี4</p>
</div>
</div>
    </center>

</body>
</html>
