<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="/index.css"> 
</head>

<body>
<center>
<br>
<br>
<br>
<br>
<br>
 <img src="/images/hi.jpg">
<h1>{{myData.text1}}</h1>
<h2>{{myData.text2}}</h2>
<h3>{{myData.text3}}</h3>
</center>
  </body>
</html>
  
  
