<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:#8888;
}
</style>
<center>
<br>
<br>
<br>
<br>
<br>
<h4>{{myData.text1}}</h4>
<h1>{{myData.text2}}</h1>
<h3>{{myData.text3}}</h3>
</center>
   <center>
   <a href="http://localhost:3000/profile/workexperience" target="_blank">See My Work</a>
   </center>
